
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src='../../assets/usericon.png' style="height: 60px;width: 60px;padding: 10px " alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn first" name="login" placeholder="Username">
        <input type="text" id="password" class="fadeIn second" name="login" placeholder="Email id">
        <input type="text" id="login" class="fadeIn third" name="login" placeholder="Mobile No">
        <input type="text" id="password" class="fadeIn fourth" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink='/signin'>Already Registered</a>
      </div>
  
    </div>
  </div>
  </div>