
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="col-sm-6">
        <div class="wrapper ">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <div id="chartContainer-1" style="height: 370px; width: 100%;"></div>
          
            </div>
          </div>
    </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="wrapper ">
            <div id="formContent">
              <div id="chartContainer-2" style="height: 370px; width: 100%;"></div>
            </div>
          </div>
    </div>
  </div>
 
    </div>